.titulo-seccion {
  font-size: 32px;
  color: #2b3674;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: -0.02em;
}

.lista-recursos {
  display: flex;
  flex-direction: column;
}
