/node_modules
/src
/rincon_web/node_modules
/rincon_web/dist
/rincon_web/.angular/cache
/rincon_back/storage/*.log
/backups/
/rincon_web/public/assets/sql/*.sql
!/rincon_web/public/assets/sql/.gitkeep

# Secrets
.env
.env.*

# Local env files
rincon_back/.env
rincon_back/.env.*
rincon_web/.env
rincon_web/.env.*

!.env.example
!.env*.example
!rincon_back/.env.example
!rincon_web/.env.example
