<div class="recurso-item">
  <div>
    <div class="recurso-dato">{{ metaSuperior }}</div>
    <h3 class="recurso-titulo">{{ nombre }}</h3>
    <p class="recurso-texto">{{ descripcion }}</p>
    <div *ngIf="curso || ciclos" class="recurso-dato">
      <span *ngIf="curso">{{ curso }}</span>
      <span *ngIf="curso && ciclos"> - </span>
      <span *ngIf="ciclos">{{ ciclos }}</span>
    </div>
  </div>

  <div>
    <a *ngIf="detalleRuta" [routerLink]="detalleRuta" class="recurso-enlace">Ver recurso</a>
    <a *ngIf="!detalleRuta && enlace" [href]="enlace" target="_blank" rel="noopener noreferrer" class="recurso-enlace">Ver recurso</a>
    <span *ngIf="!detalleRuta && !enlace" class="recurso-vacio">Sin vista disponible</span>
  </div>
</div>
