<aside class="barra-lateral">
  <div class="cabecera-sidebar">
    <h1 class="titulo-web">Rincón de Ciclos</h1>
    <p class="subtitulo-web">Portal Docente</p>
  </div>

  <nav class="navegacion-sidebar">
    <div *ngFor="let cat of categorias" class="grupo-navegacion">
      <button
        class="item-menu"
        (click)="toggleMenu(cat)"
        [routerLink]="cat.subcategorias.length === 0 ? cat.ruta : null"
        routerLinkActive="enlace-activo">
        <img [src]="'assets/icons/' + cat.icono + '.svg'" [alt]="cat.nombre" class="imagen-icono">
        <span class="texto-item">{{ cat.nombre }}</span>
      </button>

      <div *ngIf="cat.abierto && cat.subcategorias.length > 0" class="lista-subcategorias">
        <div *ngFor="let sub of cat.subcategorias" class="subcategoria-item">
          <a *ngIf="!sub.deshabilitado" [routerLink]="sub.ruta" routerLinkActive="enlace-activo" class="item-subcategoria">
            {{ sub.nombre }}
          </a>

          <span *ngIf="sub.deshabilitado" class="item-subcategoria sub-deshabilitada">
            {{ sub.nombre }}
          </span>
        </div>
      </div>
    </div>
  </nav>
</aside>
